/* Gallery */
.gallery {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gallery img {
  width: 100%;

  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}