/* Programs and Events Cards */
.cards {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    height: 100%;
  }
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
              0 6px 6px rgba(0, 0, 0, 0.10);
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card:hover {
  transform: translateY(-8px); /* hover lift */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2),
              0 10px 10px rgba(0, 0, 0, 0.15);
}
