/* Sermons */
audio {
  width: 100%;
  margin-top: 1rem;
}

.containerSermon {
  width: 90%;
  height: 95vh;
  max-width: 1200px;
  margin: auto;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
              0 6px 6px rgba(0, 0, 0, 0.10);
}